<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hzit.dao.mapper.ProblemMapper">

    <sql id="problemBaseColumnSql">
        p_id,
        p_content,
        p_module
    </sql>

    <sql id="problemBaseWhereSql">
        <if test="map!=null">
            <where>
                <if test="map.pId!=null">
                    p_id = #{map.pId}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.pContent)">
                    AND p_content = #{map.pContent}
                </if>
                <if test="map.pModule!=null">
                    AND p_module = #{map.pModule}
                </if>
            </where>
        </if>
    </sql>

    <insert id="insertProblem" parameterType="com.hzit.dao.entity.Problem">
        INSERT INTO problem(
        <include refid="problemBaseColumnSql"/>
        )VALUES(
            #{pId},
            #{pContent},
            #{pModule}
        )
    </insert>

    
    <delete id="deleteProblemByPId" parameterType="Integer">
        DELETE FROM problem WHERE p_id = #{pId}
    </delete>

    <update id="updateProblem" parameterType="com.hzit.dao.entity.Problem">
        UPDATE problem
        <set>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(pContent)">
                p_content = #{pContent} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(pModule)">
                p_module = #{pModule} ,
            </if>
        </set>
        WHERE p_id = #{pId}
    </update>

    <select id="searchProblemByParams" parameterType="map" resultMap="problemMap">
        SELECT
        <include refid="problemBaseColumnSql"/>
        FROM problem
        <include refid="problemBaseWhereSql"/>
    </select>

    <resultMap type="com.hzit.dao.entity.Problem" id="problemMap">
        <id column="p_id" property="pId"/>
        <result column="p_content" property="pContent"/>
        <result column="p_module" property="pModule"/>
    </resultMap>

</mapper>
